@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  * {
    cursor: none;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-slate-700;
    background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent);
    background-size:50px 50px;
  } 

  .cursor {
    position:absolute;
    pointer-events: none;
  }

  .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
  }

  .cursor__ball circle {
    fill: #f7f8fa;
  }

  @keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-2000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
  }

  .background {
      position: absolute;
      @apply w-full h-full;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: -1;
  }

  .background li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      @apply bg-blue-300;
      animation: animate 15s linear infinite;
  }

  .background li:nth-child(0) {
      left: 28%;
      width: 171px;
      height: 171px;
      bottom: -171px;
      animation-delay: 1s;
  }
  .background li:nth-child(1) {
      left: 89%;
      width: 122px;
      height: 122px;
      bottom: -122px;
      animation-delay: 3s;
  }
  .background li:nth-child(2) {
      left: 3%;
      width: 139px;
      height: 139px;
      bottom: -139px;
      animation-delay: 7s;
  }
  .background li:nth-child(3) {
      left: 45%;
      width: 132px;
      height: 132px;
      bottom: -132px;
      animation-delay: 4s;
  }
  .background li:nth-child(4) {
      left: 22%;
      width: 135px;
      height: 135px;
      bottom: -135px;
      animation-delay: 8s;
  }
  .background li:nth-child(5) {
      left: 35%;
      width: 113px;
      height: 113px;
      bottom: -113px;
      animation-delay: 25s;
  }
  .background li:nth-child(6) {
      left: 76%;
      width: 126px;
      height: 126px;
      bottom: -126px;
      animation-delay: 27s;
  }
  .background li:nth-child(7) {
      left: 31%;
      width: 136px;
      height: 136px;
      bottom: -136px;
      animation-delay: 15s;
  }
  .background li:nth-child(8) {
      left: 12%;
      width: 133px;
      height: 133px;
      bottom: -133px;
      animation-delay: 15s;
  }
  .background li:nth-child(9) {
      left: 21%;
      width: 178px;
      height: 178px;
      bottom: -178px;
      animation-delay: 24s;
  }

  /* Trigger  */
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  /* Optional Delays, change values here  */
  .one { animation-delay: 0.2s; }
  .two { animation-delay: .6s; }
  .three { animation-delay: 1s; }
  .four { animation-delay: 1.4s; }

  /* Animations start here  */

  /* FADE IN  */

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; } }
  .fadeIn { animation-name: fadeIn; }


  /* FADE IN DOWN */

  @keyframes fadeInDown {
    from { opacity: 0; transform: translate3d(0, -100%, 0); }
    to { opacity: 1; transform: none; } }
  .fadeInDown { animation-name: fadeInDown; }

  /* FADE IN UP */

  @keyframes fadeInUp {
    from { opacity: 0; transform: translate3d(0, 20px, 0); }
    to { opacity: 1; transform: none; } }
  .fadeInUp { animation-name: fadeInUp; }

  /* FADE IN UP BIG */

  @keyframes fadeInUpBig {
    from { opacity: 0; transform: translate3d(0, 100px, 0); }
    to { opacity: 1; transform: none; } }
  .fadeInUpBig { animation-name: fadeInUpBig; }

  /* FADE IN LEFT */

  @keyframes fadeInLeft {
    from { opacity: 0; transform: translate3d(-30px, 0, 0)rotateZ(30deg); }
    to { opacity: 1; transform: none; } }
  .fadeInLeft { animation-name: fadeInLeft; }

  /* FADE IN LEFT BIG */

  @keyframes fadeInLeftBig {
    from { opacity: 0; transform: translate3d(-100px, 0, 0); }
    to { opacity: 1; transform: none; } }
  .fadeInLeftBig { animation-name: fadeInLeftBig; }

  /* FADE IN RIGHT */

  @keyframes fadeInRight {
    from { opacity: 0; transform: translate3d(100%, 0, 0); }
    to { opacity: 1; transform: none; } }
  .fadeInRight { animation-name: fadeInRight; }

  /* @end standaard animaties  */


  .callout {
    max-width: 500px;
    margin:0 auto;
    padding-bottom:100px
  }

  .test.in-view {
    animation: fadeInUp 2s;
    }

  .test2.in-view {  
     animation: fadeInLeftBig;
      animation-duration: 1s;
     animation-delay: 0s;
    animation-fill-mode: both;
     backface-visibility: hidden;
  }
}


